__pycache__/
*.py[cod]
*.so

.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

/artifacts/
/data/
/dist/
/cache/
.cache/
wandb/

*.ckpt
*.pt
*.pth
*.safetensors
*.bin

# LaTeX build artifacts
Final_Project_Report/main.aux
Final_Project_Report/main.bbl
Final_Project_Report/main.blg
Final_Project_Report/main.log
Final_Project_Report/main.out
